@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
	--primaryColor: #060e12;
	--secondaryColor: #f3f3f3fc;
	--thirdKit: #cdcdcdfc;
	--primaryBackground: #060e12;
	--primaryText: #0d5dd9;
	--gray: #c0c0c0;
	--grayAlpha: #7a7a7a94;
	--whiteText: #efefef;
	--blueButtonBackground: #2d71da70;
}
body{
	font-family: 'Poppins', sans-serif;
}
