@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
/*	outline: 1px solid red;*/
}
:root{
	--primaryColor: #060e12;
	--secondaryColor: #f3f3f3fc;
	--thirdKit: #cdcdcdfc;
	--primaryBackground: #060e12;
	--primaryText: #0d5dd9;
	--gray: #c0c0c0;
	--grayAlpha: #7a7a7a94;
	--grayBg: #d5d5d538;
	--whiteText: #efefef;
	--whiteTextAlpha: #efefef94;
	--blueButtonBackgroundAlpha: #3481924d;
	--buttonGradient: #089ebf;
}
body{
	font-family: 'Poppins', sans-serif;
	padding: 1em;
}
body > div{
	width: 620px;
	height: 355px;
	background: var(--primaryColor);
	padding: .5em 1em;
}
.popup-menu{
	position: relative;
	width: 18em;
	margin-bottom: 4em;
}
.popup-menu .popup-toggle i{
	color: var(--whiteText);
	border: 1px solid var(--whiteText);
	padding: .25em;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	bottom: -2em;
	right: 0;
}
.popup-menu .menu{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: .5em;
	display: none;
}
.popup-menu .menu li{
	background: white;
	padding: .2em;
	font-size: .95em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .2em;
	cursor: pointer;
	color: var(--primaryText);
}
.popup-menu .menu li a{
	color: var(--primaryText);
	text-decoration: none;
}
.popup-menu .menu .clear-cache{
	position: relative;
}
.popup-menu .menu .clear-cache .cache-div{
	position: absolute;
	top: -10em;
	left: 105%;
	background: white;
	color: black;
	padding: 1em;
	width: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: .5em;
	border-radius: .4em;
	font-weight: 500;
	cursor: default;
	display: none;
}
.popup-menu .menu .clear-cache .cache-div span{
	font-weight: 600;
}
.popup-menu .menu .clear-cache .cache-div p{
	font-size: .6em;
	text-align: center;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}
.popup-menu .menu .clear-cache .cache-div div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
}
.popup-menu .menu .clear-cache .cache-div div button{
	border: none;
	outline: none;
	color: var(--primaryText);
	background: var(--blueButtonBackground);
	width: 100%;
	padding: .4em 0;
	border-radius: .2em;
	font-weight: bold;
	cursor: pointer;
	font-size: .9em;
}
.sections nav{
	color: var(--whiteText);
	display: flex;
	flex-direction: column;
	gap: 1em;
}
.sections nav .aaa{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.sections nav .aaa .currency{
	display: flex;
	align-items: center;
	gap: 2.5em;
}
.sections nav .aaa .currency div{
	display: flex;
	align-items: center;
	gap: .2em;
}
.sections nav .aaa .currency div img{
	width: 1em;
}
.sections nav .aaa .currency div span{
	font-size: .8em;
}
.sections nav .aaa .info{
	color: var(--primaryText);
	display: flex;
	align-items: center;
	gap: 4em;
}
.sections nav .aaa .info i{
	cursor: pointer;
}
.sections nav .bbb{
	display: flex;
	justify-content: center;
}
.sections nav .bbb ul{
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	background: var(--grayAlpha);
	border-radius: .91em;
	overflow: hidden;
}
.sections nav .bbb li{
	width: 5em;
	padding: .1em 3em;
	display: flex;
	justify-content: center;
	border-radius: .91em;
	cursor: pointer;
}
.sections nav .bbb li:hover{
	background: var(--gray);
}
.sections nav .bbb li.active{
	background: var(--gray);
}
/*.sections section{
	height: 355px;
}*/
.carousel{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .4em;
	overflow: hidden;
	flex-wrap: nowrap;
	position: relative;
	height: 12em;
}
.carousel div{
	position: absolute;
	left: -31em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .4em;
}
.carousel div img{
	height: 11em;
	border-radius: 6px;
}
.home-nav{
	margin-top: .51em;
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
}
.home-nav > div{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: var(--whiteText);
	cursor: pointer;
}
.home-nav div i{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em 1.9em;
	border-radius: .3em;
}
.home-nav div .bx-football{
	background: #40c1c9
}
.home-nav div .bx-football:hover{
	background: #0ec9d5;
}
.home-nav div .bxs-user-check{
	background: #58ba1b;
}
.home-nav div .bxs-user-check:hover{
	background: #43ab03;
}
.home-nav div .bx-user{
	background: #dd1c3d;
}
.home-nav div .bx-user:hover{
	background: #c40c2b;
}
.home-nav div .bx-briefcase{
	background: #a1118e;
}
.home-nav div .bx-briefcase:hover{
	background: #970483;
}
.home-nav div .bx-task{
	background: #dbad22;
}
.home-nav div .bx-task:hover{
	background: #d5a40e;
}
.home-nav > div span{
	font-size: .6em;
}
.inbox{
	padding: .7em 3.5em;
	position: relative;
	height: 320px;
}
.inbox h3{
	color: #fff605d6;
}
.inbox .item .item-content{
	display: flex;
	align-items: center;
	gap: .3em;
	padding: .2em .4em;
	border-radius: .3em;
	background: var(--grayBg);
	cursor: pointer;
}
.inbox .item .icon i{
	color: var(--whiteText);
	font-size: 1.6em;
	background: #09c42ed9;
	padding: .3em;
	border-radius: 50%;
}
.inbox .item .text{
	padding: .2em 0;
	color: var(--whiteText);
}
.inbox .item .text p:first-child{
	font-size: .9em;
}
.inbox .item .text p:last-child{
	font-size: .7em;
	color: var(--whiteTextAlpha);
}
.inbox .item .date{
	color: var(--whiteText);
	font-size: .8em;
	position: relative;
	width: 5em;
	height: 2em;
}
.inbox .item .date span{
	position: absolute;
	top: -.5em;
	left: 10em;
}
.inbox .buttons{
	position: absolute;
	bottom: .6em;
	display: flex;
	gap: 10em;
}
.inbox .buttons button{
	padding: .1em .11em;
	width: 8em;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: .2em;
	font-size: .9em;
}
.inbox .buttons .back{
	text-align: left;
	color: var(--whiteText);
	background: var(--buttonGradient);
	display: flex;
	align-items: center;
	gap: .2em;
}
.inbox .buttons .back i{
	font-size: 1.5em;
}
.inbox .buttons .receive-all{
	color: var(--primaryText);
	outline: 1px solid var(--grayAlpha);
	background: transparent;
}
.inbox .items .item .item-popup{
	margin: auto;
	width: 20em;
	height: 11em;
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: .8em 0;
	border-radius: .5em;
}
.inbox .items .item .item-popup i{
	color: var(--whiteText);
	font-size: 2.3em;
	background: #09c42ed9;
	padding: .3em;
	border-radius: 50%;
}
.inbox .items .item .item-popup p{
	font-weight: bold;
	font-size: .9em;
}
.inbox .items .item .item-popup span{
	font-size: .7em;
}
.inbox .items .item .item-popup button{
	border: none;
	outline: none;
	color: var(--primaryText);
	background: var(--blueButtonBackgroundAlpha);
	width: 90%;
	padding: .5em 0;
	border-radius: .5em;
	cursor: pointer;
}