@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
	--primaryColor: #060e12;
	--secondaryColor: #f3f3f3fc;
	--thirdKit: #cdcdcdfc;
	--primaryBackground: #060e12;
	--primaryText: #0d5dd9;
	--gray: #c0c0c0;
	--grayAlpha: #7a7a7a94;
	--whiteText: #efefef;
	--blueButtonBackground: #58b3f370;
}
body{
	font-family: 'Poppins', sans-serif;
	background: var(--primaryColor);
	padding: 2em;
}
.popup-menu{
	position: relative;
	width: 18em;
	margin-bottom: 4em;
}
.popup-menu .popup-toggle i{
	color: var(--whiteText);
	border: 1px solid var(--whiteText);
	padding: .25em;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	bottom: -2em;
	right: 0;
}
.popup-menu .menu{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: .5em;
	display: none;
}
.popup-menu .menu li{
	background: white;
	padding: .2em;
	font-size: .95em;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: .2em;
	cursor: pointer;
	color: var(--primaryText);
}
.popup-menu .menu li a{
	color: var(--primaryText);
	text-decoration: none;
}
.popup-menu .menu .clear-cache{
	position: relative;
}
.popup-menu .menu .clear-cache .cache-div{
	position: absolute;
	top: -10em;
	left: 105%;
	background: white;
	color: black;
	padding: 1em;
	width: 15em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: .5em;
	border-radius: .4em;
	font-weight: 500;
	cursor: default;
	display: none;
}
.popup-menu .menu .clear-cache .cache-div span{
	font-weight: 600;
}
.popup-menu .menu .clear-cache .cache-div p{
	font-size: .6em;
	text-align: center;
	font-weight: 600;
	color: rgba(0, 0, 0, .8);
}
.popup-menu .menu .clear-cache .cache-div div{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .5em;
}
.popup-menu .menu .clear-cache .cache-div div button{
	border: none;
	outline: none;
	color: var(--primaryText);
	background: var(--blueButtonBackground);
	width: 100%;
	padding: .4em 0;
	border-radius: .2em;
	font-weight: bold;
	cursor: pointer;
	font-size: .9em;
}
.carousel{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: .4em;
	border: 1px solid white;
	padding: .4em;
/*	overflow: hidden;*/
	border-radius: 3px;
	position: relative;
}
.carousel div{
	position: absolute;
}
.carousel div img{
	width: 4em;
}
